.navbar{
    background-color: #B31E30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header{
    padding-left: 50px;
}

.user{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

h4{
    color:white;
    font-size: 12px;
}